@font-face {
  font-family: "archivo-black-regular";
  src: url("./../assets/fonts/ArchivoBlack-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lexend-deca-light";
  src: url("./../assets/fonts/LexendDeca-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "lexend-deca-medium";
  src: url("./../assets/fonts/LexendDeca-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "lexend-deca-bold";
  src: url("./../assets/fonts/LexendDeca-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
