/* Default Colors */
$default-light-color: #ffffff;
$default-dark-color: #000000;

// Table colours colors
$deep-teal: #002f2f;
$rows-background-1: #1c2525;

/* Text */
$text-primary-1: $default-light-color;
$text-primary-2: #e4ff00;
$text-primary-3: #aab0b5;

/* Backgrounds */
$background-primary-1: #232b2b;
$background-primary-2: #002121;

//Scrollbar
$background-primary-3: #31000d;
$background-primary-4: #1b0108;

//Gray
$background-primary-5: #6c757d;
