$u-archivo-black-font: "archivo-black-regular", sans-serif;

$u-lex-and-deca-light-font: "lexend-deca-light", serif;
$u-lex-and-deca-medium-font: "lexend-deca-medium", serif;
$u-lex-and-deca-bold-font: "lexend-deca-bold", serif;
