@if (selectedMatch$ | async; as selectedMatch) {
<div class="container">
  <div class="match-details">
    <div class="team-logo">
      <img src="assets/icons/shield.svg" class="team-logo-img" />
    </div>

    <div class="match-info">
      <div class="competition-name">{{ selectedMatch.competition }}</div>
      <div class="teams">
        <span class="team-name">{{ selectedMatch.home_team }}</span>
        <div class="score">
          <div
            class="score-box"
            [ngClass]="{
              win: selectedMatch.home_score > selectedMatch.away_score,
              lose: selectedMatch.home_score < selectedMatch.away_score,
              draw: selectedMatch.home_score === selectedMatch.away_score
            }"
          >
            {{ selectedMatch.home_score }}
          </div>
          <div class="separator">-</div>
          <div
            class="score-box"
            [ngClass]="{
              win: selectedMatch.away_score > selectedMatch.home_score,
              lose: selectedMatch.away_score < selectedMatch.home_score,
              draw: selectedMatch.away_score === selectedMatch.home_score
            }"
          >
            {{ selectedMatch.away_score }}
          </div>
        </div>
        <span class="team-name">{{ selectedMatch.away_team }}</span>
      </div>
    </div>

    <div class="team-logo">
      <img src="assets/icons/shield.svg" class="team-logo-img" />
    </div>
  </div>

  @if (matchEvents$ | async; as matchEvents) {
  <div class="top-stats-container">
    <div class="flex-container">
      <div class="home-lineup">
        <div class="name">{{ selectedMatch.home_team }} Starting XI</div>
        <app-starting-lineup
          [events]="matchEvents"
          [teamName]="selectedMatch.home_team"
          [isHomeTeam]="true"
        ></app-starting-lineup>
      </div>

      <div>
        <div class="name">{{ selectedMatch?.home_team }} Pass Network</div>
        <app-pass-network
          [events]="matchEvents"
          [teamName]="selectedMatch?.home_team"
        ></app-pass-network>
      </div>

      <div>
        <app-match-stats
          [statistics]="statistics$ | async"
          [homeTeamName]="selectedMatch.home_team"
          [awayTeamName]="selectedMatch.away_team"
        ></app-match-stats>

        <div class="shot-map">
          <div class="name">Shot Map</div>
          <div class="teams">
            <span>{{ selectedMatch?.home_team }}</span>
            <span>{{ selectedMatch?.away_team }}</span>
          </div>
          <app-shot-map
            [events]="matchEvents"
            [homeTeamName]="selectedMatch?.home_team"
            [awayTeamName]="selectedMatch?.away_team"
          ></app-shot-map>
        </div>
      </div>

      <div>
        <div class="name">{{ selectedMatch?.away_team }} Pass Network</div>
        <app-pass-network
          [events]="matchEvents"
          [teamName]="selectedMatch?.away_team"
        ></app-pass-network>
      </div>

      <div class="away-lineup">
        <div class="name">{{ selectedMatch.away_team }} Starting XI</div>
        <app-starting-lineup
          [events]="matchEvents"
          [teamName]="selectedMatch.away_team"
          [isHomeTeam]="false"
        ></app-starting-lineup>
      </div>
    </div>
    <div class="flex-container">
      <div class="progressive-passes">
        <div class="name">
          {{ selectedMatch?.home_team }} Progressive Passes
        </div>
        <app-progressive-passes
          [events]="matchEvents"
          [teamName]="selectedMatch?.home_team"
          [isHomeTeam]="true"
        ></app-progressive-passes>
      </div>
      <div class="xt-chart">
        <div class="name">Match Momentum by xT</div>
        <app-xt-chart
          [events]="matchEvents"
          [homeTeamName]="selectedMatch.home_team"
          [awayTeamName]="selectedMatch.away_team"
        ></app-xt-chart>
      </div>

      <div class="progressive-passes">
        <div class="name">
          {{ selectedMatch?.away_team }} Progressive Passes
        </div>
        <app-progressive-passes
          [events]="matchEvents"
          [teamName]="selectedMatch?.away_team"
          [isHomeTeam]="false"
        ></app-progressive-passes>
      </div>
    </div>

    <div class="flex-container">
      <div class="heat-map">
        <div class="name">{{ selectedMatch.home_team }} Heat Map</div>
        <app-heat-map
          [events]="matchEvents"
          [teamName]="selectedMatch?.home_team"
          [orientation]="'horizontal'"
          [isHomeTeam]="true"
        ></app-heat-map>
      </div>

      <div class="heat-map">
        <div class="name">{{ selectedMatch.away_team }} Heat Map</div>
        <app-heat-map
          [events]="matchEvents"
          [teamName]="selectedMatch?.away_team"
          [orientation]="'horizontal'"
          [isHomeTeam]="false"
        ></app-heat-map>
      </div>
    </div>
  </div>

  } @else {
  <div class="spinner-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  }
</div>

}
