@if (selectedMatch$ | async; as selectedMatch) {
<div class="container">
  <div class="match-details">
    <!-- <div class="team-logo">
      <img src="assets/icons/shield.svg" class="team-logo-img" />
    </div> -->

    <div class="match-info">
      <div class="competition-name">{{ selectedMatch.competition }}</div>
      <div class="teams">
        <span class="team-name">{{ selectedMatch.home_team }}</span>
        <div class="score">
          <div
            class="score-box"
            [ngClass]="{
              win: selectedMatch.home_score > selectedMatch.away_score,
              lose: selectedMatch.home_score < selectedMatch.away_score,
              draw: selectedMatch.home_score === selectedMatch.away_score
            }"
          >
            {{ selectedMatch.home_score }}
          </div>
          <div class="separator">-</div>
          <div
            class="score-box"
            [ngClass]="{
              win: selectedMatch.away_score > selectedMatch.home_score,
              lose: selectedMatch.away_score < selectedMatch.home_score,
              draw: selectedMatch.away_score === selectedMatch.home_score
            }"
          >
            {{ selectedMatch.away_score }}
          </div>
        </div>
        <span class="team-name">{{ selectedMatch.away_team }}</span>
      </div>
    </div>

    <!-- <div class="team-logo">
      <img src="assets/icons/shield.svg" class="team-logo-img" />
    </div> -->
  </div>

  @if (matchEvents$ | async; as matchEvents) {
  <div class="stats-container">
    <div class="flex-container">
      <div class="flex-item lineup">
        <div>
          <div class="name">{{ selectedMatch.home_team }} Starting XI</div>
          <app-starting-lineup
            [events]="matchEvents"
            [teamName]="selectedMatch.home_team"
            [isHomeTeam]="true"
          ></app-starting-lineup>
        </div>

        <div>
          <div class="name">{{ selectedMatch?.home_team }} Pass Network</div>
          <app-pass-network
            [events]="matchEvents"
            [teamName]="selectedMatch?.home_team"
          ></app-pass-network>
        </div>
      </div>

      <div class="flex-item">
        <app-match-stats
          [statistics]="statistics$ | async"
          [homeTeamName]="selectedMatch.home_team"
          [awayTeamName]="selectedMatch.away_team"
        ></app-match-stats>

        <div class="shot-map">
          <div class="name">Shot Map</div>
          <div class="teams">
            <span>{{ selectedMatch?.home_team }}</span>
            <span>{{ selectedMatch?.away_team }}</span>
          </div>
          <app-shot-map
            [events]="matchEvents"
            [homeTeamName]="selectedMatch?.home_team"
            [awayTeamName]="selectedMatch?.away_team"
          ></app-shot-map>
        </div>
      </div>

      <div class="flex-item lineup">
        <div>
          <div class="name">{{ selectedMatch?.away_team }} Pass Network</div>
          <app-pass-network
            [events]="matchEvents"
            [teamName]="selectedMatch?.away_team"
          ></app-pass-network>
        </div>

        <div>
          <div class="name">{{ selectedMatch.away_team }} Starting XI</div>
          <app-starting-lineup
            [events]="matchEvents"
            [teamName]="selectedMatch.away_team"
            [isHomeTeam]="false"
          ></app-starting-lineup>
        </div>
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-item">
        <div class="name">
          {{ selectedMatch?.home_team }} Progressive Passes
        </div>
        <app-progressive-passes
          [events]="matchEvents"
          [teamName]="selectedMatch?.home_team"
          [isHomeTeam]="true"
        ></app-progressive-passes>
      </div>
      <div class="flex-item">
        <div class="name">Match Momentum by xT</div>
        <app-xt-chart
          [events]="matchEvents"
          [homeTeamName]="selectedMatch.home_team"
          [awayTeamName]="selectedMatch.away_team"
        ></app-xt-chart>
      </div>

      <div class="flex-item">
        <div class="name">
          {{ selectedMatch?.away_team }} Progressive Passes
        </div>
        <app-progressive-passes
          [events]="matchEvents"
          [teamName]="selectedMatch?.away_team"
          [isHomeTeam]="false"
        ></app-progressive-passes>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <div class="name">{{ selectedMatch.home_team }} Heat Map</div>
        <app-heat-map
          [events]="matchEvents"
          [teamName]="selectedMatch?.home_team"
          [orientation]="'horizontal'"
          [isHomeTeam]="true"
        ></app-heat-map>
      </div>

      <div class="flex-item">
        <div class="name">Shot Quality Timeline (Cumulative xG)</div>
        <app-shot-quality-timeline
          [events]="matchEvents"
          [homeTeamName]="selectedMatch?.home_team"
          [awayTeamName]="selectedMatch?.away_team"
        ></app-shot-quality-timeline>
      </div>

      <div class="flex-item">
        <div class="name">{{ selectedMatch.away_team }} Heat Map</div>
        <app-heat-map
          [events]="matchEvents"
          [teamName]="selectedMatch?.away_team"
          [orientation]="'horizontal'"
          [isHomeTeam]="false"
        ></app-heat-map>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <div class="name">
          {{ selectedMatch.home_team }} Pass Direction and Length Distribution
        </div>
        <app-pass-direction-length-distribution
          [events]="matchEvents"
          [teamName]="selectedMatch?.home_team"
        ></app-pass-direction-length-distribution>
      </div>

      <div class="flex-item">
        <div class="name">Crosses Map</div>
        <div class="teams">
          <span>{{ selectedMatch?.home_team }}</span>
          <span>{{ selectedMatch?.away_team }}</span>
        </div>
        <app-cross-map
          [events]="matchEvents"
          [homeTeamName]="selectedMatch?.home_team"
          [awayTeamName]="selectedMatch?.away_team"
        ></app-cross-map>
      </div>

      <div class="flex-item">
        <div class="name">
          {{ selectedMatch.away_team }} Pass Direction and Length Distribution
        </div>
        <app-pass-direction-length-distribution
          [events]="matchEvents"
          [teamName]="selectedMatch?.away_team"
        ></app-pass-direction-length-distribution>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <div class="name">
          {{ selectedMatch.home_team }} Press Resistance Map
        </div>
        <app-press-resistance-map
          [events]="matchEvents"
          [teamName]="selectedMatch.home_team"
          [isHomeTeam]="true"
        ></app-press-resistance-map>
      </div>

      <div class="flex-item">
        <div class="name">Zone 14 Analysis</div>
        <div class="teams">
          <span>{{ selectedMatch?.home_team }}</span>
          <span>{{ selectedMatch?.away_team }}</span>
        </div>
        <app-zone14-analysis
          [events]="matchEvents"
          [homeTeam]="selectedMatch.home_team"
          [awayTeam]="selectedMatch.away_team"
        ></app-zone14-analysis>
      </div>

      <div class="flex-item">
        <div class="name">
          {{ selectedMatch.away_team }} Press Resistance Map
        </div>
        <app-press-resistance-map
          [events]="matchEvents"
          [teamName]="selectedMatch.away_team"
          [isHomeTeam]="false"
        ></app-press-resistance-map>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <div class="name">{{ selectedMatch.home_team }} Transition Map</div>
        <app-transition-map
          [events]="matchEvents"
          [teamName]="selectedMatch.home_team"
          [isHomeTeam]="true"
        ></app-transition-map>
      </div>

      <div class="flex-item">
        <div class="name">{{ selectedMatch.away_team }} Transition Map</div>
        <app-transition-map
          [events]="matchEvents"
          [teamName]="selectedMatch.away_team"
          [isHomeTeam]="false"
        ></app-transition-map>
      </div>
    </div>

    @if (topPlayerStats$ | async; as topPlayerStats) {
    <mat-toolbar class="custom-toolbar">
      <span class="section-title">Top Players Stats</span>
    </mat-toolbar>

    <div class="flex-container">
      <div class="flex-item">
        <div class="name">
          Top Passer - {{ selectedMatch.home_team }}:
          {{ topPlayerStats.homeTeamStats.topPasserPlayer.playerName }}
        </div>
        <app-top-passer-pitch
          [events]="matchEvents$ | async"
          [playerId]="topPlayerStats.homeTeamStats.topPasserPlayer.playerId"
          [playerName]="topPlayerStats.homeTeamStats.topPasserPlayer.playerName"
          [teamName]="topPlayerStats.homeTeamStats.team"
          [isHomeTeam]="true"
        ></app-top-passer-pitch>
      </div>

      <div class="flex-item">
        <div class="name">
          Top Passer - {{ selectedMatch.away_team }}:
          {{ topPlayerStats.awayTeamStats.topPasserPlayer.playerName }}
        </div>
        <app-top-passer-pitch
          [events]="matchEvents$ | async"
          [playerId]="topPlayerStats.awayTeamStats.topPasserPlayer.playerId"
          [playerName]="topPlayerStats.awayTeamStats.topPasserPlayer.playerName"
          [teamName]="topPlayerStats.awayTeamStats.team"
          [isHomeTeam]="false"
        ></app-top-passer-pitch>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <div class="name">Top 10 Passers - {{ selectedMatch.home_team }}</div>
        <app-top-passers-bar-chart
          [topPassers]="topPlayerStats.homeTeamStats.topPassers"
        ></app-top-passers-bar-chart>
      </div>

      <div class="flex-item">
        <div class="name">Top 10 Passers - {{ selectedMatch.away_team }}</div>
        <app-top-passers-bar-chart
          [topPassers]="topPlayerStats.awayTeamStats.topPassers"
        ></app-top-passers-bar-chart>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <div class="name">
          Top Defender - {{ selectedMatch.home_team }}:
          {{ topPlayerStats.homeTeamStats.topDefenderPlayer.playerName }}
        </div>
        <app-top-defender-pitch
          [events]="matchEvents$ | async"
          [playerId]="topPlayerStats.homeTeamStats.topDefenderPlayer.playerId"
          [playerName]="
            topPlayerStats.homeTeamStats.topDefenderPlayer.playerName
          "
          [teamName]="topPlayerStats.homeTeamStats.team"
          [isHomeTeam]="true"
        ></app-top-defender-pitch>
      </div>

      <div class="flex-item">
        <div class="name">
          Top Defender - {{ selectedMatch.away_team }}:
          {{ topPlayerStats.awayTeamStats.topDefenderPlayer.playerName }}
        </div>
        <app-top-defender-pitch
          [events]="matchEvents$ | async"
          [playerId]="topPlayerStats.awayTeamStats.topDefenderPlayer.playerId"
          [playerName]="
            topPlayerStats.awayTeamStats.topDefenderPlayer.playerName
          "
          [teamName]="topPlayerStats.awayTeamStats.team"
          [isHomeTeam]="false"
        ></app-top-defender-pitch>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <div class="name">Top 10 Defenders - {{ selectedMatch.home_team }}</div>
        <app-top-defenders-bar-chart
          [topDefenders]="topPlayerStats.homeTeamStats.topDefenders"
        ></app-top-defenders-bar-chart>
      </div>

      <div class="flex-item">
        <div class="name">Top 10 Defenders - {{ selectedMatch.away_team }}</div>
        <app-top-defenders-bar-chart
          [topDefenders]="topPlayerStats.awayTeamStats.topDefenders"
        ></app-top-defenders-bar-chart>
      </div>
    </div>
    }
  </div>

  } @else {
  <div class="spinner-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  }
</div>

}
