<mat-toolbar class="footer">
  <span class="footer-statsbomb">
    <a
      href="https://www.statsbomb.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/icons/statsbomb-icon.png" class="statsbomb-logo" />
    </a>
  </span>

  <span class="footer-content">
    &copy; 2024 MatchStats Dashboard by Kamil Wojtczyk
  </span>

  <span
    class="footer-icon linkedin"
    aria-label="LinkedIn"
    (click)="openLink('https://www.linkedin.com/in/kamil-wojtczyk/')"
  ></span>
</mat-toolbar>
